name: CI - Build & Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore
        run: dotnet restore FitLog/WorkoutService/WorkoutService.sln

      - name: Build
        run: dotnet build FitLog/WorkoutService/WorkoutService.sln -c Release --no-restore

      - name: Test
        run: dotnet test FitLog/WorkoutService/WorkoutService.sln -c Release --no-build -v minimal --logger "trx;LogFileName=test_results.trx" --results-directory TestResults

      - name: Upload test results (TRX)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: TestResults/*.trx
